<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Admina</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_style.css') }}">

</head>
<body>
    <nav class="navbar">
   
        <ul id="nav-links">
            <li>
                <form action="/logout" method="POST">
                    <button type="submit">Logout</button>
                </form>
            </li>
        </ul>
    </nav>

    <div class="container">
        <header class="header">
      <h1>Admin Panel</h1>        </header>

        <main class="main-content">
            <h2>Users List</h2>
            <br>
            <br>
            <table>
                <thead>
                    <tr>
                        <th>Nickname</th>
                        <th>Email</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($users as $user): ?>
                        <tr>
                            <td><?= htmlspecialchars($user['name']) ?></td>
                            <td><?= htmlspecialchars($user['email']) ?></td>
                            <td>
                                <form action="/deleteUser" method="POST">
                                    <button type="submit"><img src="public/img/x.png" alt="Usuń" style="width: 20px;"></button>
                                    <input type="hidden" name="user_id" value="<?= $user['id'] ?>">
                                </form>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
<br>
            <h2>Download databese</h2>
            <br>
            <form action="/downloadDatabase" method="POST">
                <button type="submit" >Download</button>
            </form>
        </main>
    </div>
</body>
</html>
