<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Anime Tracker - Stats</title>
		<link
			rel="stylesheet"
			type="text/css"
			href="public/css/dashboard_style.css" />
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		<script defer src="public/js/menu.js"></script>
		<script defer src="public/js/dashboard.js"></script>
	</head>
	<body>
		<!-- Pasek nawigacyjny -->
		<nav class="navbar">
			<div class="navbar-brand">
				<button class="burger-menu" id="burger-menu">&#9776;</button>
			</div>
			<ul id="nav-links">
				<li><a href="/dashboard">Stats</a></li>
				<li><a href="/animelist">Anime list</a></li>
				<li>
					<a
						><?php if (isset($userName)): ?>
						<?= htmlspecialchars($userName) ?>
						<?php endif; ?></a
					>
				</li>
				<li>
					<form action="/logout" method="POST">
						<button type="submit">Logout</button>
					</form>
				</li>
			</ul>
		</nav>

		<div class="container">
			<!-- Nagłówek strony -->
			<header class="header">
				<h1>Anime Stats</h1>
			</header>

			<!-- Główna treść strony - Statystyki -->
			<main class="main-content">
				<h2>Your Anime Stats</h2>
				<!-- Wykresy -->
				<div class="chart-container">
					<canvas id="animeStatusChart"></canvas>
				</div>
				<div class="chart-container">
					<canvas id="animeTypeChart"></canvas>
				</div>
			</main>
		</div>
	</body>
</html>
